CREATE TABLE [dbo].[Gender](
	[IdGender] [int] IDENTITY(1,1) NOT NULL,
	[GenderName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Gender] PRIMARY KEY CLUSTERED 
(
	[IdGender] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Guest]    Script Date: 04.06.2026 16:30:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Guest](
	[IdGuest] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](150) NOT NULL,
	[Birthday] [date] NOT NULL,
	[GenderId] [int] NOT NULL,
	[StatusId] [int] NOT NULL,
 CONSTRAINT [PK_Guest] PRIMARY KEY CLUSTERED 
(
	[IdGuest] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[History]    Script Date: 04.06.2026 16:30:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[History](
	[IdHistory] [int] IDENTITY(1,1) NOT NULL,
	[GuestId] [int] NOT NULL,
	[RoomId] [int] NOT NULL,
	[CheckIn] [date] NOT NULL,
	[CheckOut] [date] NOT NULL,
	[Comment] [nvarchar](max) NULL,
 CONSTRAINT [PK_History] PRIMARY KEY CLUSTERED 
(
	[IdHistory] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hotel]    Script Date: 04.06.2026 16:30:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hotel](
	[IdHotel] [int] IDENTITY(1,1) NOT NULL,
	[HotelName] [nvarchar](150) NOT NULL,
 CONSTRAINT [PK_Hotel] PRIMARY KEY CLUSTERED 
(
	[IdHotel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Room]    Script Date: 04.06.2026 16:30:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Room](
	[IdRoom] [int] IDENTITY(1,1) NOT NULL,
	[Number] [int] NOT NULL,
	[RoomTypeId] [int] NOT NULL,
	[HotelId] [int] NOT NULL,
 CONSTRAINT [PK_Room] PRIMARY KEY CLUSTERED 
(
	[IdRoom] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoomType]    Script Date: 04.06.2026 16:30:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoomType](
	[IdRoomType] [int] IDENTITY(1,1) NOT NULL,
	[RoomTypeName] [nvarchar](150) NOT NULL,
 CONSTRAINT [PK_RoomType] PRIMARY KEY CLUSTERED 
(
	[IdRoomType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Status]    Script Date: 04.06.2026 16:30:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Status](
	[IdStatus] [int] IDENTITY(1,1) NOT NULL,
	[StatusName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Table_1] PRIMARY KEY CLUSTERED 
(
	[IdStatus] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Gender] ON 

INSERT [dbo].[Gender] ([IdGender], [GenderName]) VALUES (1, N'Мужской')
INSERT [dbo].[Gender] ([IdGender], [GenderName]) VALUES (2, N'Женский')
SET IDENTITY_INSERT [dbo].[Gender] OFF
GO
SET IDENTITY_INSERT [dbo].[Guest] ON 

INSERT [dbo].[Guest] ([IdGuest], [FullName], [Birthday], [GenderId], [StatusId]) VALUES (1, N'Ветров Иван Иванович', CAST(N'2006-12-01' AS Date), 1, 1)
INSERT [dbo].[Guest] ([IdGuest], [FullName], [Birthday], [GenderId], [StatusId]) VALUES (2, N'Веревкина Мария Ивановна', CAST(N'2001-01-01' AS Date), 2, 2)
INSERT [dbo].[Guest] ([IdGuest], [FullName], [Birthday], [GenderId], [StatusId]) VALUES (3, N'Петров Петр Петрович', CAST(N'1988-02-03' AS Date), 1, 1)
SET IDENTITY_INSERT [dbo].[Guest] OFF
GO
SET IDENTITY_INSERT [dbo].[History] ON 

INSERT [dbo].[History] ([IdHistory], [GuestId], [RoomId], [CheckIn], [CheckOut], [Comment]) VALUES (1, 1, 1, CAST(N'2026-02-02' AS Date), CAST(N'2026-02-03' AS Date), NULL)
INSERT [dbo].[History] ([IdHistory], [GuestId], [RoomId], [CheckIn], [CheckOut], [Comment]) VALUES (2, 2, 2, CAST(N'2026-03-03' AS Date), CAST(N'2026-02-03' AS Date), NULL)
INSERT [dbo].[History] ([IdHistory], [GuestId], [RoomId], [CheckIn], [CheckOut], [Comment]) VALUES (3, 3, 3, CAST(N'2026-01-01' AS Date), CAST(N'2026-01-10' AS Date), NULL)
SET IDENTITY_INSERT [dbo].[History] OFF
GO
SET IDENTITY_INSERT [dbo].[Hotel] ON 

INSERT [dbo].[Hotel] ([IdHotel], [HotelName]) VALUES (1, N'Олимпиада')
INSERT [dbo].[Hotel] ([IdHotel], [HotelName]) VALUES (2, N'Артхаус')
INSERT [dbo].[Hotel] ([IdHotel], [HotelName]) VALUES (3, N'Магний')
SET IDENTITY_INSERT [dbo].[Hotel] OFF
GO
SET IDENTITY_INSERT [dbo].[Room] ON 

INSERT [dbo].[Room] ([IdRoom], [Number], [RoomTypeId], [HotelId]) VALUES (1, 1, 1, 1)
INSERT [dbo].[Room] ([IdRoom], [Number], [RoomTypeId], [HotelId]) VALUES (2, 1, 1, 2)
INSERT [dbo].[Room] ([IdRoom], [Number], [RoomTypeId], [HotelId]) VALUES (3, 1, 1, 3)
SET IDENTITY_INSERT [dbo].[Room] OFF
GO
SET IDENTITY_INSERT [dbo].[RoomType] ON 

INSERT [dbo].[RoomType] ([IdRoomType], [RoomTypeName]) VALUES (1, N'Эконом')
INSERT [dbo].[RoomType] ([IdRoomType], [RoomTypeName]) VALUES (2, N'Стандарт')
INSERT [dbo].[RoomType] ([IdRoomType], [RoomTypeName]) VALUES (3, N'Люкс')
SET IDENTITY_INSERT [dbo].[RoomType] OFF
GO
SET IDENTITY_INSERT [dbo].[Status] ON 

INSERT [dbo].[Status] ([IdStatus], [StatusName]) VALUES (1, N'Обычный')
INSERT [dbo].[Status] ([IdStatus], [StatusName]) VALUES (2, N'VIP')
SET IDENTITY_INSERT [dbo].[Status] OFF
GO
ALTER TABLE [dbo].[Guest]  WITH CHECK ADD  CONSTRAINT [FK_Guest_Gender] FOREIGN KEY([GenderId])
REFERENCES [dbo].[Gender] ([IdGender])
GO
ALTER TABLE [dbo].[Guest] CHECK CONSTRAINT [FK_Guest_Gender]
GO
ALTER TABLE [dbo].[Guest]  WITH CHECK ADD  CONSTRAINT [FK_Guest_Status] FOREIGN KEY([StatusId])
REFERENCES [dbo].[Status] ([IdStatus])
GO
ALTER TABLE [dbo].[Guest] CHECK CONSTRAINT [FK_Guest_Status]
GO
ALTER TABLE [dbo].[History]  WITH CHECK ADD  CONSTRAINT [FK_History_Guest] FOREIGN KEY([GuestId])
REFERENCES [dbo].[Guest] ([IdGuest])
GO
ALTER TABLE [dbo].[History] CHECK CONSTRAINT [FK_History_Guest]
GO
ALTER TABLE [dbo].[History]  WITH CHECK ADD  CONSTRAINT [FK_History_Room] FOREIGN KEY([RoomId])
REFERENCES [dbo].[Room] ([IdRoom])
GO
ALTER TABLE [dbo].[History] CHECK CONSTRAINT [FK_History_Room]
GO
ALTER TABLE [dbo].[Room]  WITH CHECK ADD  CONSTRAINT [FK_Room_Hotel] FOREIGN KEY([HotelId])
REFERENCES [dbo].[Hotel] ([IdHotel])
GO
ALTER TABLE [dbo].[Room] CHECK CONSTRAINT [FK_Room_Hotel]
GO
ALTER TABLE [dbo].[Room]  WITH CHECK ADD  CONSTRAINT [FK_Room_RoomType] FOREIGN KEY([RoomTypeId])
REFERENCES [dbo].[RoomType] ([IdRoomType])
GO
ALTER TABLE [dbo].[Room] CHECK CONSTRAINT [FK_Room_RoomType]
GO